button,
a[type="button"],
input[type="button"],
input[type="submit"] {
  border: 1px solid #5784ba;
  background-color: #5784ba;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about form button {
  width: 150px;
  max-width: 500px;
  height: 60px;
  font-size: 1rem;
  background: #5784ba;
  color: #ffffff;
}

/* cart */
.quantity button {
  margin: 1rem;
}
.quantity button {
  padding: 2px 10px;
  width: 50%;
}
.montant__form input[type="button"] {
  background-color: #5784ba4b;
}
.montant__form input[type="button"]:hover {
  background-color: #5784ba;
}
