button,
a[type="button"],
input[type="button"],
input[type="submit"] {
  border: 1px solid #5784ba;
  background-color: #5784ba;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

input[type="submit"].search__btn:hover {
  color: black;
  border: 1px solid #5784ba;
}

form button {
  width: 450px;
  max-width: 500px;
  height: 60px;
  font-weight: 700;
  font-size: 24px;
  background: #5784ba;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.newsletter__button,
input[type="submit"] {
  border-radius: 0 10px 10px 0;
}

.newsletter__button:hover {
  color: black;
}

/* cart */
.quantity button {
  margin: 1rem;
}
.quantity button {
  padding: 2px 10px;
  width: 50%;
}
.montant__form input[type="button"] {
  background-color: #5784ba4b;
}
.montant__form input[type="button"]:hover {
  background-color: #5784ba;
}
