/*##########################################################################################################################*/
/*######################################################### Cartes #########################################################*/
/*##########################################################################################################################*/

.product {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.lien_product {
  color: black;
}

.figure {
  border: 3px solid #f4cfdf;
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
  border-radius: 15px;
  background-color: #f4cfdf;
}

.produit {
  border: 3px solid #f4cfdf;
}
.figure:hover {
  background-color: #f4cfdf5e;
}

.figcaption_card {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_card {
  margin-bottom: 20px;
}

.produit {
  /*border: 3px solid #f4cfdf;*/
  border-radius: 15px 15px 0 0;
  margin: 5px;
}

.figcaption_card-h3 {
  padding: 7px;
}

.figcaption_card-p {
  padding-top: 5px;
}

sup {
  vertical-align: super;
}

.figcaption_card-p sup {
  font-size: 0.6rem;
}
