body{
  background-color: white;
}
/* cart */
.main {
  margin: 2rem;
}
.main > article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main > article > a:first-child {
  margin: 2rem 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
  align-self: start;
}
.main > article > a:first-child::before {
  content: "<";
  margin-right: 0.2rem;
}
h1 {
  margin: 3rem 0;
  font-size: 2rem;
  text-decoration: underline #f4cfdf 5px;
  align-self: start;
  width: 100%;
}
.cart {
  background-color: #9ac8eb;
  padding: 1rem 0;
  width: 100%;
}

.cart a {
  background-color: #9ac8eb;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
  padding: 0.5rem;
}
.cart__item:nth-child(odd) {
  background-color: #f4cfdf;
}
.cart__item:nth-child(even) {
  background-color: #f7f6cf;
}
.item__img {
  width: 50px;
  height: 50px;
  /* object-fit ? */
}
.promo,
.montants {
  margin: 2rem 0;
}
.promo {
  width: 25%;
}
.montants {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.montant__label {
  width: 45%;
}
.montant__price {
  width: 20%;
}
.montant__label h4,
.montant__label h3,
.montant__price p {
  margin: 1rem 0;
}
.montant__price p::after {
  content: "€";
  margin-left: 0.2rem;
}
.montant__form {
  width: 100%;
}
