.reassurance {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.reassurance__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reassurance__img {
  border: black 2px solid;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.reassurance__text {
  text-transform: capitalize;
  font: 0.5rem;
}
