form div, .address__add {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 83px;
  margin-top: 25px;
}

.promo div {
  margin-top: 0;
}
.promo div > label {
  margin-bottom: 1rem;
  font-weight: 600;
}

.about form div > label {
  margin-bottom: 7px;
  font-weight: 600;
}

form div > input [type="email"].form__email,
form div > select,
form div > textarea {
  color: #000000;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.about .form__email,
input[type="email"] {
  width: auto;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 25%);
}

form div > input,
form div > select,
form > select {
  height: 50px;
  padding-left: 0.9em;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 25%);
}

form div > select,
form > select {
  appearance: none;
  background-size: 15px;
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
}

form div > textarea {
  font-family: "Montserrat";
  height: 195px;
  padding: 15px 0px 0px 10px;
}

form div > input::placeholder,
form div > textarea::placeholder {
  opacity: 60%;
  color: white;
}

form div > select:invalid {
  color: white;
}

form div > select option {
  background: #0b1013;
  color: #ffffff;
}

form div:last-child {
  align-items: center;
  margin-top: 20px;
}
.search {
  text-align: center;
  margin-top: 10px;
  width: 60%;
}
.search__input,
input[type="email"] {
  padding: 10px;
  border: 1px solid #5784ba;
  border-radius: 10px 0 0 10px;
  width: 40%;
}

.search__input:hover {
  border: 1px solid #5784ba;
  color: black;
}

input[type="submit"].search__btn,
.newsletter__button {
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
}
.quantity input {
  margin: 0.5rem;
}
