body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Rowdies", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}
/* /##################################################/ */
/* /###################     MAIN    ##################/ */
/* /##################################################/ */

.main_about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a_propos {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px 10px 10px 10px;
  width: 800px;
}

.jmug__logo {
  height: 80px;
  margin-right: 80px;
}
.title_text {
  padding: 30px 30px 30px 30px;
  background-color: #9ac8eb;
  border-radius: 15px;
  border: none;
}

.nos_produit {
  width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #9ac8eb;
  /* padding: 20px 10px 20px 10px; */
  border-radius: 15px;
}

figure {
  width: 25%;
}

.section__img {
  display: flex;
    width: 950px;
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}


 .figure__img {
   margin-left: 0%; 
  height: 250px;
  width: 250px;
}

.ou_sommes_nous {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #9ac8eb;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}

section > p {
  text-align: center;
}

p {
  padding: 20px 20px 20px 20px;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 800px;
  border: none;
  border-radius: 8px;
  padding: 20px 50px 10px 50px;
  background: #9ac8eb;
  margin-bottom: 30px;
}

.contact > h1 {
  padding-top: 30px;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 83px;
  margin-top: 25px;
}

form div > label {
  margin-bottom: 7px;
  font-weight: 600;
}

form div > input,
form div > select,
form div > textarea {
  color: #000000;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

form div > input,
form div > select {
  height: 50px;
  padding-left: 10px;
}

form div > select {
  /* appearance: none; */
  background-size: 15px;
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
}

form div > textarea {
  font-family: "Montserrat";
  height: 195px;
  padding: 15px 0px 0px 10px;
}

form div > input::placeholder,
form div > textarea::placeholder {
  opacity: 60%;
  color: rgb(0, 0, 0);
}

form div > select:invalid {
  color: rgb(0, 0, 0);
}

form div > select option {
  color: #000000;
  background: #0b1013;
  color: #ffffff;
}

form div:last-child {
  align-items: center;
  margin-top: 20px;
}

form button {
  width: 450px;
  max-width: 500px;
  height: 60px;
  font-weight: 700;
  font-size: 24px;
  background: #5784ba;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

/* Element de confiance */
.reassurance {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
  align-items: flex-start;
}
.reassurance__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.reassurance__img {
  border: black 2px solid;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.reassurance__text {
  text-transform: uppercase;
  text-align: center;
  font: 0.5rem;
}

/* /##################################################/ */
/* /###################    FOOTER    ##################/ */
/* /##################################################/ */

footer {
  padding: 20px 15px;
  background-color: #9ac8eb;
}

.footer_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: start;

  width: auto;
  height: auto;
}

.footer_info_title {
  font-size: 1.1em;
  font-weight: 700;
  padding: 15px 0;
}

footer li {
  padding: 10px 0;
}
